name: Build and Test DeriSock Project

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*
  pull_request:
    branches:
      - master
    tags-ignore:
      - v*

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x

    - name: Restore packages
      run: |
        dotnet restore DeriSock
#        dotnet restore DeriSock.Tests
        
    - name: Build project
      run: |
        dotnet build --no-restore --configuration Release DeriSock
#        dotnet build --no-restore --configuration Release DeriSock.Tests

#    - name: Run Tests
#      run: dotnet test --no-restore DeriSock.Tests