name: Build and Test DeriSock Project

on:
  push:
    branches:
      - main
    tags-ignore:
      - v*
  pull_request:
    branches:
      - main
    tags-ignore:
      - v*

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup dotnet
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x

    - name: Restore packages
      run: |
        dotnet restore src/DeriSock
#        dotnet restore src/DeriSock.Tests.Integration
        
    - name: Build project
      run: |
        dotnet build --no-restore --configuration Release src/DeriSock
#        dotnet build --no-restore --configuration Release src/DeriSock.Tests.Integration

#    - name: Run Tests
#      run: dotnet test --no-restore src/DeriSock.Tests.Integration