name: Build and Test DeriSock Project

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_test:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1.4.0
      with:
        dotnet-version: 3.1.101
        
    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Run Tests
      run: dotnet test